.pd-1 {
    padding: 0 5px 0 5px;
}
.focus:focus {
    border: 5px solid #bfdeff;
}
.f-1 {
    padding: 0 15px 0 100px;
}
.logo-text h2 {
    font-family: Arial;
    font-style: normal;
    text-transform: none;
    font-size: 13px;
    color: #bbbcbc;
}